input[type="date"] {
    margin: 10px;
}

html,
body {
  height: 100%;
  margin: 0;
  background-image: url("background.png");
  padding-left: 2px;
}

.container {
    display: flex;
    align-items: center;
}

.logo {
    width: 125px; /* Adjust as needed */
    height: auto; /* Keeps aspect ratio */
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 20px; /* Space between logo and other elements */
}

.datepicker {
    margin-left: 0px;
    margin-top: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.content.separator {
    border-left: thick solid #12213e;
    width: 5px;
    height: 100px;
    margin-left: 25px;
}

.content.boxed {
    display: flex;
    flex-direction: column;
    border: 2px solid #12213e;
    border-radius: 12px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 5px;
    padding-right: 15px;
    font-size: smaller;
}

.leftF {
    overflow: hidden;
}

.leftChild {
  float: left;
}

.content.boxed>div>div>p {
    margin-left: 10px;
    border: 3px solid white;
    border-radius: 3px;
    background-color: white;
    width: 70px;
}

.content.boxed.day {
    margin-left: 30px;
    /*
    border-color: #66ff99;
    background:
          radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,rgba(143, 145, 255, 0.3) 68% 70%,#0000 72%) 32px 32px/calc(2*32px) calc(2*32px),
          radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,rgba(143, 145, 255, 0.3) 68% 70%,#0000 72%) 32px 32px/calc(2*32px) calc(2*32px),
          radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,rgba(143, 145, 255, 0.3) 68% 70%,#0000 72%) 0 0/calc(2*32px) calc(2*32px),
          radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,rgba(143, 145, 255, 0.3) 68% 70%,#0000 72%) 0 0/calc(2*32px) calc(2*32px),
          repeating-conic-gradient(rgba(102, 255, 153, 0.13) 0 25%,#0000 0 50%) 0 0/calc(2*32px) calc(2*32px),
          radial-gradient(#0000 66%,rgba(143, 145, 255, 0.3) 68% 70%,#0000 72%) 0 calc(32px/2)/32px 32px
          rgba(102, 255, 153, 0.13);
    */
}

.content.boxed.week {
    /*
    border-color: #ff99cc;
    background:
          radial-gradient(farthest-side at -33.33% 50%,#0000 52%,rgba(143, 145, 255, 0.3) 54% 57%,#0000 59%) 0 calc(128px/2),
          radial-gradient(farthest-side at 50% 133.33%,#0000 52%,rgba(143, 145, 255, 0.3) 54% 57%,#0000 59%) calc(128px/2) 0,
          radial-gradient(farthest-side at 133.33% 50%,#0000 52%,rgba(143, 145, 255, 0.3) 54% 57%,#0000 59%),
          radial-gradient(farthest-side at 50% -33.33%,#0000 52%,rgba(143, 145, 255, 0.3) 54% 57%,#0000 59%),
          rgba(255, 153, 204, 0.13);
    background-size: calc(128px/4.667) 128px,128px calc(128px/4.667);
    */
}

.content.boxed.total {
    /*
    border-color: #66ccff;
    background:
          radial-gradient(27% 29% at right, #0000 83%,rgba(143, 145, 255, 0.3) 85% 99%,#0000 101%) calc(32px/2) 32px,
          radial-gradient(27% 29% at left, #0000 83%,rgba(143, 145, 255, 0.3) 85% 99%,#0000 101%) calc(32px/-2) 32px,
          radial-gradient(29% 27% at top, #0000 83%,rgba(143, 145, 255, 0.3) 85% 99%,#0000 101%) 0 calc(32px/2),
          radial-gradient(29% 27% at bottom, #0000 83%,rgba(143, 145, 255, 0.3) 85% 99%,#0000 101%) 0 calc(32px/-2)
          rgba(102, 204, 255, 0.13);
    background-size: 64px 64px;
    */
}

.heading,
.link,
.datepicker {
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px; /* Space between each element */
}

.link {
    font-size: smaller;
}

.heading.main {
    margin: 10px;
    margin-bottom: 15px;
}

.heading.hh {
    border-bottom: 1px dotted;
    margin-left: 10px;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {

}

.box .row.header {
  flex: 0 1 auto;
  font-family:Georgia,serif;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 !important;
  position: relative;
}

.box .row.footer {
  flex: 0 1 40px;
}